<launch>

    <arg name="project" default="lio_sam"/>
    <arg name="robot0"	default="jackal0"/>
    <arg name="robot1"	default="jackal1"/>
    <arg name="robot2"	default="jackal2"/>

    <!-- Parameters -->
    <rosparam file="$(find lio_sam)/config/params.yaml" command="load" />
    <rosparam file="$(find lio_sam)/config/mapfusion.yaml" command="load" />

<!--    - LOAM robot 0 -->
    <include file="$(find lio_sam)/launch/include/module_loam.launch" >
	    <arg name="robot" value="$(arg robot0)"/>
    </include>

    <!--- LOAM robot 1 -->
    <!-- <include file="$(find lio_sam)/launch/include/module_loam.launch" >
	    <arg name="robot" value="$(arg robot1)"/>
    </include> -->

<!--    - LOAM robot 2 -->
    <include file="$(find lio_sam)/launch/include/module_loam.launch" >
        <arg name="robot" value="$(arg robot2)"/>
    </include>

    <!--- Run Rviz-->
<!--    <node pkg="rviz" type="rviz" name="$(arg project)_rviz" args="-d $(find lio_sam)/launch/include/config/rviz1.rviz" />-->

  
</launch>
